@using Entity.Concrete
@Model List<Writer>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    }
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <table class="table table-striped table-dark">
        <tr>
            <th>#</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>RESİM</th>
            <th>MAİL</th>
            <th>ŞİFRE</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Başlıklar</th>
        </tr>
        @foreach (var writer in Model)
        {
            <tr>
                <th>@writer.WriterId</th>
                <td>@writer.WriterName</td>
                <td>@writer.WriterSurName</td>
                <td>@writer.WriterImage</td>
                <td>@writer.WriterMail</td>
                <td>@writer.WriterPassword</td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
                <td><a href="#" class="btn btn-warning">Güncelle</a></td>
                <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
            </tr>

        }
    </table>
    <a href="/AdminCategory/Insert" class="btn btn-info">Yeni Kategori</a>
